@font-face {
    font-family: 'ray';
    src: url('../fonts/Ray-Medium/Ray-Medium.eot');
    src: url('../fonts/Ray-Medium/Ray-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Ray-Medium/Ray-Medium.woff') format('woff'),
    url('../fonts/Ray-Medium/Ray-Medium.ttf') format('truetype'),
    url('../fonts/Ray-Medium/Ray-Medium.svg#svgFontName') format('svg');
}

:root {
    --sh-primary: #831918;
    --sh-secondry: #fdd5a9;
    --sh-light-gray: #b8cdd7;
    --sh-gray: #808b87;
    --sh-light-red: #ff3434;
    --sh-light-brown: #c39d71;
    --sh-brown: #916a3e;
}
body {
    font-family: ray;
    background-color: var(--sh-secondry);
}
.sh-horizontal-line{
    width: 100%;
    height: 2px;
    background-color: black;
}
.sh-vertical-line{
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: black;
    right: calc(var(--bs-gutter-x)*0.5);
    top: -30px;
}
.sh-box{
    box-shadow: 0 0 10px 10px #aaa;
    border-radius: 20px;
}
.sh-akoolad{
    height: 100%;
    width: 100%;
    border-left: 2px solid #000;
    position: relative;
}
.sh-akoolad::before{
    content: "";
    width: 10px;
    height: 2px;
    position: absolute;
    top: 0;
    left: -10px;
    background-color: #000;
}
.sh-akoolad::after{
    content: "";
    width: 10px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: -10px;
    background-color: #000;
}
.sh-rotate{
    transform: rotate(180deg);
}